body.node-type-page{
	background-color:#fff !important;
	background-image:none !important;
}

.node-type-page header,.node-type-page header.docked{
	position:static;
	background-image:none;
}

.node-type-page header .mobileNav{
	display:none;
}

.node-type-page .globalNav{
	display:none;
}

.node-type-page header .headerContent{
	height:auto;
}

.node-type-page .logo{
	display:block !important;
	margin:40px 0 20px;
	position:static;
}

.node-type-page .logo:after{
	content:url(/sites/all/themes/trinity/_/images/logo-blk.png);
}

.node-type-page .logo img{
	display:none;
}

.node-type-page header.docked .logo{
	width:auto;
	height:auto;
	background:none;
	top:auto;
	left:auto;
}

.node-type-page .primaryNav,.node-type-page .block-search,.node-type-page .audienceNav,.node-type-page .ctas{
	display:none;
}

.node-type-page .pageInfo{
	color:#464646;
	padding-top:0;
}

.node-type-page .breadcrumbHome{
	background:none;
	display:inline;
	height:auto;
	text-indent:0;
	width:auto;
}

.node-type-page .pageInfo h1{
	margin:0;
	padding:0;
}

.node-type-page .pageInfo a{
	color:#464646;
}

.node-type-page .pageContent{
	background-image:none;
}

.node-type-page h3{
	color:#464646;
}

.node-type-page #sidebar_left{
	margin-bottom:0;
}

.node-type-page .leftNav{
	display:none;
}

.node-type-page .large-1,.node-type-page .large-2,.node-type-page .large-3,.node-type-page .large-4,.node-type-page .large-5,.node-type-page .large-6,.node-type-page .large-7,.node-type-page .large-8,.node-type-page .large-9,.node-type-page .large-10,.node-type-page .large-11,.node-type-page .large-12{
	width:100%;
}

.node-type-page #content{
	padding-bottom:40px;
}

.node-type-page #content ul,.node-type-page #content ol,.node-type-page #content li{
	border:none;
}

.node-type-page #content ul li{
	background-image:none;
	list-style-type:disc;
	list-style-position:inside;
	padding-left:0;
}

.node-type-page #content table td{
	width:auto !important;
}

.node-type-page #footer_navigation{
	display:none;
}

.node-type-page footer{
	background-color:#fff;
	color:#464646;
	padding-top:0;
}

.node-type-page footer a,.node-type-page footer span{
	color:#464646;
}

.node-type-page footer img,.node-type-page footer .social{
	display:none;
}

@media print{
	#bugmuncher_button{
		display:none;
	}

}
